.toolbar{
    background-color: blueviolet;
    position: fixed;
    right:0;
    top:300px;
    text-align: center;
    width: 320px;
    height: 7.5%;
    border: 1px solid blue;

}

.toolbar-toggle{
    position:absolute;
    top:0;
    left:0;
    padding: auto;
    background-color: brown;

}

.toolbar-toggle a img{
    position:fixed;
    top:0;
    left:0;
    background-color: brown;
}

.toolbar-inner{
    background-color: white;
    position: fixed;  /* cambiar para mover la posición de la toolbar */
    right:0;
    top:300px;
    width: 240px;
    border: 1px solid blue;

}

.toolbar-inner p{
    height: 70px;
    font-size: 18px;
    
}

.toolbar-item{
    color: black;
    height: 50px;
    font-size: 18px;
    border: 1px solid red;
    
}

.toolbar-items li:hover{
    background-color: aqua;
    cursor: pointer;
    letter-spacing: 1px;
}

.toolbar-item li a{
    display:block;
    text-decoration: none;
    letter-spacing: 1px;
}